<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{rows}}
        <!--<label>Username: </label>-->
        <!--<input name="name" type="text" />-->
        <!--<br/>-->
        <!--<label>Course: </label>-->
        <!--<input name="stu_course" type="text" />-->

    <form method="post" action="/add-student">
        <label>Username: </label>
        <input name="name" type="text" />
        <br/>
        <label>Course: </label>
        <input name="stu_course" type="text" />
        <input name="Add to database" type="submit" value="Add student">
        </form>
    <form method="post" action="/remove-student">
        <label>Username: </label>
        <input name="name" type="text" />
        <br/>
        <label>Course: </label>
        <input name="stu_course" type="text" />
        <br/>
        <input type="submit" value="Remove student">
    </form>



<form method="post" action="/update-student">
        <label>Username: </label>
        <input name="name" type="text" />
        <br/>
        <label>Course: </label>
        <input name="stu_course" type="text" />
        <br/>
        <input type="submit" value="Update student">

    </form>


</body>
</html>